/* rgba(210, 227, 228, 1) blue 
   rgba(160, 160, 157, 1) smoke
   rgba(207, 193, 213, 1) pale violet
   rgba(197, 162, 158, 1) tan orange
   rgba(140, 170, 177, 1) smoke blue
   rgba(0, 0, 0, 1) charcoal
*/
@import "https://unpkg.com/open-props";
@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&display=swap');
  
body {
  font-family: "Fondamento", cursive;
  background-image: var(--gradient-23);
}

article h1 {
  font-size: 5rem;
  text-align: center;
  color: rgba(217, 217, 217, 1);
  
}

article p,
aside p {
  font-size: 2rem;
  color: rgba(217, 217, 217, 1);
}

aside h2 {
  font-size: 6rem;
  color: rgba(217, 217, 217, 1);
 
}

h4{
  font-size: 3rem;
  color: rgba(217, 217, 217, 1);
  text-align: center;
  margin-top: unset;
  margin-bottom: auto;
}

figcaption{
  font-size: 1.5rem;
  color:rgba(210, 227, 228, 1);
}

figure a {
  display: inline-block;
  width: 100%;
  max-height: auto;
}

main aside{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figure {
  background: rgba(140, 170, 177, 1);
  padding: 30px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

article img {
  border: 10px double rgba(210, 227, 228, 1);
  width: 15%;
  height: auto;
}

figure img {
  background: rgba(207, 193, 213, 1);
  height: auto;
  width: 100%;
  margin: 5px;
}

nav {
  display: flex;
  gap: 3rem;
}

 a:link, 
 a:visited {
  background: rgba(83, 75, 70, 1);
  border-radius: 4px;
  min-width: 5rem;
  margin: .5em;
  padding: .25rem;
  color: rgba(140, 170, 177, 1);
  text-align: center;
}

 a:hover, 
 a:active {
  background: rgba(207, 193, 213, 1);
  color:  rgba(0, 0, 0, 1);
  transform: scale(1.5);
  transition: background .5s, transform .5 1s;

 }

 @media  (max-width: 600px) {
  
  article h1 {
  font-size: 3.5rem;
  text-align: center;
}

article p,
aside p {
  font-size: 1rem;
}

aside h2 {
  font-size: 3.5rem;
 
}

h4{
  font-size: 3rem;
  text-align: center;
  margin-top: unset;
  margin-bottom: auto;
}

figcaption{
  font-size: 1.5rem;
} 

figure img {
  background: rgba(207, 193, 213, 1);
  height: auto;
  width: 100%;
  margin: 5px;
}
}